html{
    font-size: 12pt;
}

body {
    background-color: #fdb495;
    width: 800px;
    font-size: 12pt;
}

article{
    font-size: 1em;
}
h1{
    font-size: 1rem;
    color: #210440; text-shadow: -1px -1px 1px #aaa,
    0px 4px 1px rgba(0,0,0,0.5),
    4px 4px 5px rgba(0,0,0,0.7),
    0px 0px 7px rgba(0,0,0,0.4);
   
} 
h1:hover{color:rgb(255, 0, 119)}

h2{ font-size: 1rem;
    color:#210440}
    h2:hover{color:rgb(0, 30, 255)}

p{
    color: rgba(6, 2, 255, 0.7);
    width: 100%;
    font-size: 0.5rem;

}

a{
    color:rgb(144, 53, 255);
    font-size: 0.7rem;
}

.myclass{color:#d35590}
.myclass{font-size: 0.5rem;}
.myclass:hover{font-size: 0.55rem;}
    
   

.green{color: rgb(119, 43, 226);}

#first{
    font-weight: bold;
}

body article p {
	color: rgb(255, 115, 0);
}
p:hover{
    color: rgb(255, 53, 97);font-size: 0.55rem
}